@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.product-list-element p:first-of-type:hover {
  cursor: pointer;
}
.product-list-element p:hover {
  cursor: default;
}
.product-list-element{
  padding: 20px;
  background-color: #5e5a5a;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-unordered-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.home-title {
  background: linear-gradient(to right, #ffc75f, #a55219);
  -webkit-background-clip: text; /* Safari/Chrome */
  background-clip: text; /* Standard for Firefox */
  color: transparent; /* Make text color transparent to show the gradient */
}
